block footer
    footer.footer
        .footer__row.footer__row_top
            .footer__left
                ul.nav-menu
                    -
                        pages = [{name:'Мои работы', link:'works'}, {name:'Обо мне', link:'about'}, {name:'Главная', link:'index'}];
                    each page in pages
                        li.nav-menu__item
                            a(href=`${page.link}.html`).nav-menu__link= page.name
                
            .footer__right
                ul.socials.socials_footer
                    -
                        icons = [{name:'vk_round', link:'https://vk.com/eugenejt'}, {name:'gh_round', link:'https://github.com/EugeneJT'}, {name:'in_round', link:'https://linkedin.com/'}];
                    each icon in icons
                        li.socials__item
                            a(href=`${icon.link}` target='_blank').socials__link
                                svg.icons.icons__socials.icons__socials_white_footer
                                    use(xlink:href=`assets/img/sprite.svg#${icon.name}`)

        .footer__row.footer__row_bottom
            .footer__about-user-name © Евгений Насонов | 2018