section.section.hero.hero-blog

	include ../sections/header

	.container-hero.container-hero-blog
					
		.hero__title.hero__title_blog
			
			.user.hero__user-block
				.user__photo
					.user__photo-avatar
						img(src="assets/img/content/user.png", alt="user-avatar").user__photo-img
				.user__blog-title
					img(src="assets/img/decor/blog_header.svg" alt="portfolio_header").user__blog-title_bg

					.title.blog__section-title
						h2.title-text.blog__section-title_text Блог
					
				.user__blog-subtitle Статьи, которые я написал
