section.section.map
	.map__bg
		img(src="assets/img/bg/bg-map.jpg", alt="bg-map").map__bg-img

	.user-contacts
		.user-contacts__subtitle.subtitle
			.subtitle-text
				| Контакты
		ul.user-contacts__list
			li.user-contacts__item.item__skype
				svg.icons.user-contacts__item-icon.icon__skype
					use(xlink:href='assets/img/sprite.svg#skype')
				a(href="skype:skype").user-contacts__item-link.link__skype
					| skype
			li.user-contacts__item.item__email
				svg.icons.user-contacts__item-icon.icon__email
					use(xlink:href='assets/img/sprite.svg#envelope')
				a(href="mailto:eugenetikk@gmail.com").user-contacts__item-link.link__email
					| eugenetikk@gmail.com
			li.user-contacts__item.item__adress
				svg.icons.user-contacts__item-icon.icon__adress
					use(xlink:href='assets/img/sprite.svg#map_marker')
				a(href="https://goo.gl/maps/Q46wjGaNkRn").user-contacts__item-link.link__adress
					| г. Санкт-Петербург
	.city
		.city-name
			| Санкт-Петербург