.wrapper__parallax
    .parallax#parallax
        - for (var i=1;i<10;i++)
            .parallax__layer
                img(src='assets/img/parallax/layer-' + [i] + '.png', alt='parallax layer ' +[i])







