.works__slider#works__slider
	.works__slider__container
		.slider__img
			img(src='assets/img/content/my_works/1.png' class='slider__img_big' alt='Сайт портфолио 2017')

		.slider__info
			.slider__info-container
				.slider__info__name
					h3.subtitle.slider__info__subtitle Сайт портфолио 2018
				.slider__info__tech HTML, CSS, JAVASCRIPT, PHP
				a(href='http://alexweit.tmweb.ru' target='_blank').slider__info__btn
					svg.icons.slider__info__icon(viewBox="0 0 10 10" preserveAspectRatio='none')
						use(xlink:href='assets/img/sprite.svg#link')
					span.slider__info__text Посмотреть сайт

		.slider__nav
			a(href='#').slider__nav__link.slider__nav__link_prev
				svg.icons.slider__nav__link__arrow.slider__nav__link__arrow_down(viewBox="0 0 10 10" preserveAspectRatio='none')
					use(xlink:href='assets/img/sprite.svg#portf_arrow_down')
				.slider__nav__display
					ul.slider__nav__list
						li(class='slider__nav__item' data-src='assets/img/content/my_works/1.png' data-title='Сайт портфолио 2017' data-tech='HTML, CSS, JAVASCRIPT, PHP' data-link='http://alexweit.tmweb.ru')
							img(src='assets/img/content/my_works/1.png' class='slider__img_small' alt='Сайт портфолио 2017')
						li(class='slider__nav__item' data-src='assets/img/content/my_works/2' data-title='Сайт портфолио 2015' data-tech='HTML, CSS, JAVASCRIPT' data-link='https://github.com/AlexWeit/sitePortfolio')
							img(src='assets/img/content/my_works/2.png' class='slider__img_small' alt='Сайт портфолио 2015')
						li(class='slider__nav__item' data-src='assets/img/content/my_works/3.png' data-title='Сайт оборудования' data-tech='HTML, CSS, JAVASCRIPT' data-link='http://rzgm.ru/')
							img(src='assets/img/content/my_works/3.png' class='slider__img_small' alt='Сайт оборудования')
						li(class='slider__nav__item slider__nav__item_active' data-src='assets/img/content/my_works/4.png' data-title='Страница интернет-магазина' data-tech='HTML , CSS, JAVASCRIPT' data-link='https://github.com/AlexWeit/dz2-shop')
							img(src='assets/img/content/my_works/4.png' class='slider__img_small' alt='Страница интернет-магазина')

			a(href='#').slider__nav__link.slider__nav__link_next
				svg.icons.slider__nav__link__arrow.slider__nav__link__arrow_up(viewBox="0 0 10 10" preserveAspectRatio='none')
					use(xlink:href='assets/img/sprite.svg#portf_arrow_up')
				.slider__nav__display
					ul.slider__nav__list
						li(class='slider__nav__item' data-src='assets/img/content/my_works/1.png' data-title='Сайт портфолио 2017' data-tech='HTML, CSS, JAVASCRIPT, PHP' data-link='http://alexweit.tmweb.ru')
							img(src='assets/img/content/my_works/1.png' class='slider__img_small' alt='Сайт портфолио 2017')
						li(class='slider__nav__item slider__nav__item_active' data-src='assets/img/content/my_works/2.png' data-title='Сайт порфолио 2015' data-tech='HTML, CSS, JAVASCRIPT' data-link='https://github.com/AlexWeit/sitePortfolio')
							img(src='assets/img/content/my_works/2.png' class='slider__img_small' alt='Сайт порфолио 2015')
						li(class='slider__nav__item' data-src='assets/img/content/my_works/3.png' data-title='Сайт оборудования' data-tech='HTML, CSS, JAVASCRIPT' data-link='http://rzgm.ru/')
							img(src='assets/img/content/my_works/3.png' class='slider__img_small' alt='Сайт оборудования')
						li(class='slider__nav__item' data-src='assets/img/content/my_works/4.png' data-title='Страница интернет-магазина' data-tech='HTML, CSS, JAVASCRIPT' data-link='https://github.com/AlexWeit/dz2-shop')
							img(src='assets/img/content/my_works/4.png' class='slider__img_small' alt='Страница интернет-магазина')