.user.hero__user-block
	.user__photo
		.user__photo-avatar
			img(src="assets/img/content/user.png", alt="user-avatar").user__photo-img
	.user__name Евгений Насонов
	.user__desc Личный сайт веб-разработчика