//-примесь для заголовков
mixin title (title, url, additionClass, textClass)
	.title(style=`background-image: url('assets/img/decor/${url}')` class=additionClass)
		h2(class=textClass).title-text= title

