.user-contacts {
	@include centered(y);
	position: relative;
	background: rgba(229, 247, 244, 0.8);
	width: 380px;
	margin: auto;
	min-height: 290px;
	text-align: center;

	@include phones {
		position: absolute;
		top: 0;
		transform: none;
		width: 100%;
		background: $white;
	}
}

.user-contacts__title {
	padding: 15px 0;
}

.user-contacts__list {
	width: 290px;
	margin: auto;
	text-align: left;
	padding-bottom: 38px;

	@include phones {
		margin: 0 10px;
		width: 96%;
	}
}

.user-contacts__item {
	position: relative;
    margin-top: 25px;
    min-height: 25px;

    &:first-child {
    	margin-top: 0;
    }
}

.user-contacts__item-icon {
	fill: $green;
	position: absolute;
}

.user-contacts__item-link {
	margin-left: 40px;
    @include centered(y);
    color: $grayText;
}