.footer {
	position: absolute;
	bottom: 0;
	background: rgba(69, 90, 100, 0.8);
	$height: 147px;
	min-height: $height;
	margin-top: -$height;
	width: 100%;
	color: $darkWhite;
}

.footer__row {
	@extend %clearfix;
	border-bottom: 1px solid rgba($white, 0.1);
	padding: 0 30px;
	position: relative;
	min-height: 73px;

	&_bottom {
		font-family: "robotolight";
	}

	@include phones {
		padding: 0 15px;
	}
}

.footer__left, .footer__right {
	float: left;
	width: 50%;
	margin: 20px 0;

	@include screen900 {
		float: none;
		width: 100%;
	}
}

.footer__left {
	@include screen900 {
		text-align: center;
	}
}

.footer__right {
	text-align: right;
	@include screen900 {
		text-align: center;
	}
}

.nav-menu {

	@include phones {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}

.nav-menu__item {
	display: inline-block;
	margin-left: 40px;

	&:first-child {
		margin-left: 0;
	}

	@include phones {
		display: block;
		margin-left: 0;
	}
}

.nav-menu__link {
	color: $darkWhite;

	&:hover {
		color: $green;
	}
}

.footer__row.footer__row_bottom {
	text-align: center;
	margin-top: 40px;
}