//bg
.welcome {
	background: url(../img/bg/bg-mountain.jpg) center center no-repeat;
	background-size: cover;
    min-height: 100vh;
    width: 100wh;
    position: relative;
}

//content
.welcome__content {
	width: 380px;
	border-radius: 4px;
	overflow: hidden;
	@include centered();
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
}


.welcome__user {
	padding: 30px;
}

.welcome__socials {
	margin-top: 30px;
}

.welcome__socials-list {
	text-align: center;
}

// nav
.welcome__nav {
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


.nav__btn {
	padding: 15px 31px;
	color: $white;
	background-color: rgba(0, 189, 163, 0.8);
	width: 50%;
	text-align: center;

	&:first-child {
	border-right: 2px solid white;
}

	&:hover {
		background-color: rgba(0, 150, 136, 0.8);
	}
}


//footer
.welcome__footer {
	text-align: center;
    height: 60px;
    margin-top: -60px;
    position: relative;
    color: $white;
    font-family: "robotolight";
}