//VARIABLES

//Colors
$lightBlue : #c2d6d6;
$white : #ffffff;
$darkWhite : #efeee9;
$beige: #eeebdf;
$main-font-color : #373e42;
$grayTitle : #373e42;
$grayText : #455a64;
$green : #00bfa5;
$darkGreen : #009688;


//IMPORTS

//helpers: mixins
@import "helpers/mixins";

//layout: setups, fonts
@import "layout/setups";
@import "layout/fonts";
@import "layout/font-awesome";

//helpers: sprite
@import "helpers/sprite";

// blocks
@import "blocks/user";
@import "blocks/socials";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/main-menu";
@import "blocks/triangles";
@import "blocks/contacts";

@import "blocks/welcome";

@import "blocks/works";
@import "blocks/slider";
@import "blocks/works_form";

@import "blocks/about";
@import "blocks/map";
@import "blocks/skill";
@import "blocks/skills";

