extends ../layout

block title
    | Welcome

block content

    .welcome

        include ../sections/parallax

    .welcome__content
        .welcome__user
            .welcome__hero
                include ../sections/user
            .welcome__socials
                ul.socials.welcome__socials-list
                    -
                        icons = [{name:'vk', link:'https://vk.com/eugenejt'}, {name:'gh', link:'https://github.com/https://github.com/EugeneJT'}, {name:'in', link:'https://linkedin.com/'}];
                    each icon in icons
                        li.socials__item
                            a(href=`${icon.link}`).socials__link
                                svg.icons.icons__socials.icons__socials_green
                                    use(xlink:href=`assets/img/sprite.svg#${icon.name}`)

        nav.welcome__nav
            -
                pages = [{name:'Мои работы', link:'works'}, {name:'Обо мне', link:'about'}];
            each page in pages
                a(href=`${page.link}.html` class=`nav__btn_${page.link}`).nav__btn= page.name

    block footer
        .welcome__footer
            .footer__welcome-user-name © Евгений Насонов | 2018